//
// <Project name>
// =============================================================================
// variables 
$color-eee: #eef !default;
// =============================================================================
.#{$ns}con {
    background: $color-eee;
    width: 100%;
}