//
// <Project name>
// =============================================================================
.#{$ns}con {
    background: $black;
}
.hd{
    background: $black;
}
.bd{
    background: $black;
}