.my-gallery {
  width: 100%;
  float: left;
}

.my-gallery img {
  width: 100%;
  height: auto;
}

.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}

.my-gallery figcaption {
  display: none;
}

.clearfix {
  clear: both;
}

.detail-pic {
  margin: 0 0 0.24rem 0;
  width: 100%;
  display: inline-block;
  height: auto;
  .pic-thumb {
    float: left;
    width: 120px;
    padding: .1rem .2rem 0 0;
    height: 120px;
    overflow: hidden;
    .big {
      width: 100%;
      height: 100%;
    }
    .box-default {
      display: none;
    }
    .pic-thumb1 {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .pic-bg {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .1);
        z-index: 4;
      }
    }
    .description {
      display: none;
    }
  }
}
